<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Groups</h1>
    <%= link_to "New Group", new_admin_group_path, class: "btn btn-primary" %>
  </div>

  <% if @groups.any? %>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @groups.each do |group| %>
            <tr>
              <td><%= group.name %></td>
              <td>
                <%= link_to "View Students", admin_group_students_path(group), class: "btn btn-info btn-sm" %>
                <%= link_to "Add Study Material", new_admin_group_study_material_path(group), class: "btn btn-success btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="alert alert-info">
      No groups found. <%= link_to "Create your first group", new_admin_group_path %>
    </div>
  <% end %>
</div> 